.app {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px auto;
}

.app div {
  margin: 5px;
}

.app div .red {
  color: red;
}

.app div .green {
  color: green;
}

.app div button {
  width: 60px;
  height: 40px;
}